:root{
    --preto:#1D1E22;
    --cinza-navbar: #38393D;
    --verde: #40B189;
}

.cartoes--container{
    display: flex;
}

.cartoes--container__direita{
    background: var(--cinza-navbar);
    width: 182rem;
}

.cartoes--Container--direita__footer{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
}

.cartoes--Container--direita__footer span{
    color: #40B189;
}